/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
:root {
    /* --primary-color: #6b74df;  */
    --primary-color: #272757;
}

/* p{
    color: #0F0E47;
} */
.text-dark {
    color: #0F0E47;
}
.dark-border{
    border: 1px solid #0F0E47;
}
.dark-bg {
    background-color: #0F0E47;
}

.text-light  {
    color: #505081;
}
.light-bg{
    background-color: #505081 ;
}
.text-extralight {
    color: #8686AC;
}

.blue-bg {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.blue-bg:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.text-blue {
    color: var(--primary-color);
}

.border-blue {
    border-color: var(--primary-color);
}

header {
    border-bottom: 1px solid #efefef;
}

.section-bg {
    background-color: #edf2f98f;
}

.font-mono {
    font-family: "JetBrains Mono", monospace;
}

.home-banner h4 {
    margin: 0 auto;
}

.text-gradient {
    background-image: linear-gradient(90deg, var(--primary-color), #505081);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
}

.wrapper {
    width: 900px;
    max-width: 100%;
}

.ai-assistance ul {
    list-style: disc;
    padding-left: 30px;
}
input:focus{
    outline: none !important;
}