@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&family=Outfit:wght@400;500;600;700&display=swap');

:root {
  /* font-family: "Outfit", sans-serif; */
  font-weight: 400;
  color: #24105c;
  background-color: #f8f7f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
.font-fraunces {
  font-family: "Fraunces", serif;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f8f7f3;
}
.wrapper{
  width: 800px;
  max-width: 100%;
}
button {
  cursor: pointer;
}

/* a {
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}